body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overscroll-behavior: none;
  background: #000;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}

#smooth-content {
  /*will-change: transform;*/
}
#sequence {
  display: block;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

#nav-dots {
  position: fixed;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#nav-dots:after {
  content: "";
  position: absolute;
  top: 0;
  width: 2px;
  background: black;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.dot {
  position: relative;
  width: 14px;
  height: 14px;
  margin: 15px 0;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 2;
}

.dot:first-child {
  margin-top: 0;
}
.dot:nth-last-child(2) {
  margin-bottom: 0;
}

.dot span {
  position: absolute;
  left: -185px;
  width: 170px;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  color: white;
  font-size: 14px;
}

.dot:hover span {
  opacity: 1;
}

.dot.active {
  background: purple;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(128, 0, 128, 0.6);
  }
  70% {
    box-shadow: 0 0 0 12px rgba(128, 0, 128, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(128, 0, 128, 0);
  }
}

/* Анімація пульсації */
@keyframes pulseButton {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
}

#nav-dots .line {
  position: absolute;
  width: 2px;
  background: white;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.section-container {
  min-height: 100vh;
}
.panel {
  font-size: 35px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1250px;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  will-change: transform, opacity;
  box-sizing: border-box;
}

.panel:nth-child(2),
.panel:nth-child(3) {
  width: 1000px;
}
.panel:nth-child(5) {
  width: 1200px;
  color: #000;
}
.panel:nth-child(5) p {
  color: rgba(0, 0, 0, 0.7);
}
.panel:nth-child(6) {
  text-align: center;
}
.panel .content {
  padding-right: 60px;
}
.panel {
  font-size: 35px;
}
.panel h1,
.panel h2 {
  font-size: 110px;
  font-weight: 700;
  margin: 0 0 35px;
}
.panel strong {
  display: block;
  font-size: 32px;
}
.panel p {
  margin: 0 0 10px;
  color: rgba(255, 255, 255, 0.7);
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 30px;
  z-index: 100;
  transform: translateY(-100%);
  opacity: 0;
  transition: none;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header .logo {
  display: block;
  max-width: 100%;
}
.burger {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.burger.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.scroll-top {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  color: #fff;
  border: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 90;
  display: none;
  opacity: 0;
  padding: 0;
  transition: opacity 0.3s ease;
}

.scroll-top:hover {
  opacity: 0.8 !important;
}

.scroll-text {
  display: block;
  font-size: 30px;
  margin-bottom: -12px;
}

.scroll-icon {
  display: block;
  animation: pulseButton 1.2s infinite ease-in-out;
}

.offcanvas-overlay {
  width: 100vw;
  touch-action: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
}
.offcanvas-overlay.open {
  display: block;
}
.offcanvas-bar {
  position: absolute;
  width: 250px;
  padding: 100px 30px;
  transition: left 0.3s ease-out;
  top: 0;
  bottom: 0;
  left: -250px;
  background: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
  box-sizing: border-box;
}
.offcanvas-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.offcanvas-bar li {
  display: block;
  font-size: 18px;
}
.offcanvas-bar li + li {
  padding-top: 15px;
}
.offcanvas-bar li a {
  color: #fff;
  text-decoration: none;
}
.offcanvas-bar li a:hover {
  text-decoration: underline;
}

@media (max-width: 1300px) {
  .panel {
    width: 100% !important;
    padding: 0 100px 0 40px;
  }
  .panel h1,
  .panel h2 {
    font-size: 80px;
    margin: 0 0 20px;
  }
  .panel .content {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .panel {
    font-size: 25px;
  }
  .panel strong {
    font-size: 28px;
  }
  .panel h1,
  .panel h2 {
    font-size: 60px;
  }
  .header .logo {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 8px 20px 8px 35px;
  }
  .header .container {
    justify-content: left;
  }
  #nav-dots {
    right: 20px;
  }
  .panel {
    font-size: 20px;
    padding: 0 60px 0 40px;
  }
  .panel strong {
    font-size: 22px;
  }
  .panel h1,
  .panel h2 {
    font-size: 35px;
  }
  .scroll-text {
    font-size: 20px;
  }
}
